<ion-header >
  <ion-toolbar class="header">
    <ion-title class="title" >Scores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [className]="isLoading ? 'loader loader-border is-active' : 'loader loader-border'" data-text="Preparing results.."></div>
  <div id="chartContainer" style="height: 370px; width: 100%;"></div>
  <div id="chart0" style="height: 370px; width: 100%;" *ngIf="this.scoreData.wordclouds.length >= 1">
  </div>
  <div id="chart1" style="height: 370px; width: 100%;" *ngIf="this.scoreData.wordclouds.length >= 2">
  </div>
  <div id="chart2" style="height: 370px; width: 100%;" *ngIf="this.scoreData.wordclouds.length >= 3">
  </div>
  <div id="chart3" style="height: 370px; width: 100%;" *ngIf="this.scoreData.wordclouds.length >= 4">
  </div>
  <div id="chart4" style="height: 370px; width: 100%;" *ngIf="this.scoreData.wordclouds.length >= 5">
  </div>
  <div id="chart5" style="height: 370px; width: 100%;" *ngIf="this.scoreData.wordclouds.length >= 6">
  </div>
  <div id="chart6" style="height: 370px; width: 100%;" *ngIf="this.scoreData.wordclouds.length >= 7">
  </div>
  <div id="chart7" style="height: 370px; width: 100%;" *ngIf="this.scoreData.wordclouds.length >= 8">
  </div>
  <div id="chart8" style="height: 370px; width: 100%;" *ngIf="this.scoreData.wordclouds.length >= 9">
  </div>
  <div id="chart9" style="height: 370px; width: 100%;" *ngIf="this.scoreData.wordclouds.length >= 10">
  </div>
  <div style="text-align: center">
      <ion-button (click)="proceed()">Continue</ion-button>
  </div>
</ion-content>
