::-webkit-scrollbar { 
  display: none
}

ion-toolbar.header{
  --background: #3880ff;
}
ion-title.title{
  color: white;
}

// ion-grid{
//   background:#eff2fd;
//   border:  solid black;
//   }

.number {
   margin: 0;
   position: absolute;               /* 2 */
   top: 50%;                         /* 3 */
   transform: translate(0, -50%);
   text-align: right;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.subc{
   margin: 0;
   position: absolute;               /* 2 */
   top: 50%;                         /* 3 */
   transform: translate(0, -50%);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

ion-row{
   
  }

.outerrow {
  // margin-bottom: 3px
}

.row{
  height: 210px;
  background:#eff2fd;
  border:  solid black;
  border-width: 1px;
  margin-bottom: 1px
}
ion-textarea.keywords{
  height: 190px;
  // border-style: solid;
  // border-color: darkgrey;
  // border-width: 1px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
ion-textarea.summary{
  height: 190px;
  // border-style: solid;
  // border-color: darkgrey;
  // border-width: 1px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


 h4 {
  text-align: center;
  font-size: 30px;
  color: #3880ff;
}

.keywords {
  height: 50px;
}

.summary {
  height: 50px;
}

 
