<ion-header> 
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">
      Results
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid">
    <ion-row class="outer">
      <ion-card class="outer">
        <ion-item>
          <ion-label class="card-topic">Performance</ion-label>
        </ion-item>
        <ion-card-content class="outer">
          <ion-grid>
            <ion-row>
                  <ion-chip color="primary">
                      <ion-label color="primary">fps</ion-label>
                  </ion-chip>
                  <ion-chip color="primary">
                      <ion-label color="primary">ram</ion-label>
                  </ion-chip>
                  <ion-chip color="primary">
                      <ion-label color="primary">cpu</ion-label>
                  </ion-chip>
                  <ion-chip color="primary">
                      <ion-label color="primary">freeze</ion-label>
                  </ion-chip>
                  <ion-chip color="primary">
                      <ion-label color="primary">crash</ion-label>
                  </ion-chip>
                  <ion-chip color="primary">
                      <ion-label color="primary">gpu</ion-label>
                  </ion-chip>
             </ion-row>
             <ion-row>
                    <ion-card class="inner">
                        <ion-card-header>
                          <ion-card-subtitle>Sub-category 1</ion-card-subtitle>
                          <ion-card-title>Reporting Bugs</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                          <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <div class="get">
                                        <ion-textarea  class="card-text" placeholder="Keywords"></ion-textarea>
                                    </div>
                                  </ion-col>
                                  <ion-col>
                                    <div class="get">
                                        <ion-textarea  class="card-text" placeholder="Keywords"></ion-textarea>
                                    </div>
                                </ion-col>
                            </ion-row>
                          </ion-grid>
                        </ion-card-content>
                      </ion-card>
          </ion-row>
          <ion-row>
              <ion-card class="inner">
                  <ion-card-header>
                    <ion-card-subtitle>Sub-category 2</ion-card-subtitle>
                    <ion-card-title>Suggesting Features</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-grid>
                      <ion-row>
                          <ion-col>
                              <div class="get">
                                  <ion-textarea class="card-text" placeholder="Keywords"></ion-textarea>
                              </div>
                            </ion-col>
                            <ion-col>
                              <div class="get">
                                  <ion-textarea class="card-text" placeholder="Keywords"></ion-textarea>
                              </div>
                          </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-card-content>
                </ion-card>
            </ion-row>
            <ion-row>
                <ion-card class="inner">
                    <ion-card-header>
                      <ion-card-subtitle>Sub-category 1</ion-card-subtitle>
                      <ion-card-title>Reporting Bugs</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-grid>
                        <ion-row>
                            <ion-col>
                                <div class="get">
                                    <ion-textarea class="card-text" placeholder="Keywords"></ion-textarea>
                                </div>
                              </ion-col>
                              <ion-col>
                                <div class="get">
                                    <ion-textarea class="card-text" placeholder="Keywords"></ion-textarea>
                                </div>
                            </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-card-content>
                  </ion-card>
              </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row class="outer">
        <ion-card class="outer">
          <ion-item>
            <ion-label class="card-topic">Network</ion-label>
          </ion-item>
          <ion-card-content class="outer">
            <ion-grid>
              <ion-row>
                    <ion-chip color="primary">
                        <ion-label color="primary">lag</ion-label>
                    </ion-chip>
                    <ion-chip color="primary">
                        <ion-label color="primary">ping</ion-label>
                    </ion-chip>
                    <ion-chip color="primary">
                        <ion-label color="primary">rubberband</ion-label>
                    </ion-chip>
                    <ion-chip color="primary">
                        <ion-label color="primary">servers</ion-label>
                    </ion-chip>
                    <ion-chip color="primary">
                        <ion-label color="primary">na</ion-label>
                    </ion-chip>
                    <ion-chip color="primary">
                        <ion-label color="primary">eu</ion-label>
                    </ion-chip>
               </ion-row>
               <ion-row>
                      <ion-card class="inner">
                          <ion-card-header>
                            <ion-card-subtitle>Sub-category 1</ion-card-subtitle>
                            <ion-card-title>Reporting Bugs</ion-card-title>
                          </ion-card-header>
                          <ion-card-content>
                            <ion-grid>
                              <ion-row>
                                  <ion-col>
                                      <div class="get">
                                          <ion-textarea class="card-text" placeholder="Keywords"></ion-textarea>
                                      </div>
                                    </ion-col>
                                    <ion-col>
                                      <div class="get">
                                          <ion-textarea class="card-text" placeholder="Keywords"></ion-textarea>
                                      </div>
                                  </ion-col>
                              </ion-row>
                            </ion-grid>
                          </ion-card-content>
                        </ion-card>
            </ion-row>
            <ion-row>
                <ion-card class="inner">
                    <ion-card-header>
                      <ion-card-subtitle>Sub-category 1</ion-card-subtitle>
                      <ion-card-title>Suggesting Features</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-grid>
                        <ion-row>
                            <ion-col>
                                <div class="get">
                                    <ion-textarea class="card-text" placeholder="Keywords"></ion-textarea>
                                </div>
                              </ion-col>
                              <ion-col>
                                <div class="get">
                                    <ion-textarea class="card-text" placeholder="Keywords"></ion-textarea>
                                </div>
                            </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-card-content>
                  </ion-card>
              </ion-row>
              <ion-row>
                  <ion-card class="inner">
                      <ion-card-header>
                        <ion-card-subtitle>Sub-category 1</ion-card-subtitle>
                        <ion-card-title>Reporting Bugs</ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                        <ion-grid>
                          <ion-row>
                              <ion-col>
                                  <div class="get">
                                      <ion-textarea class="card-text" placeholder="Keywords"></ion-textarea>
                                  </div>
                                </ion-col>
                                <ion-col>
                                  <div class="get">
                                      <ion-textarea class="card-text" placeholder="Keywords"></ion-textarea>
                                  </div>
                              </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-card-content>
                    </ion-card>
                </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-row>
  </ion-grid>
</ion-content>
