<ion-header> 
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">
      Results
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-grid>
  <div *ngFor = "let category of summaryData">
      <h4>{{category.topic}}</h4>
      <ion-row class="outerrow" >
          <ion-grid>
            <ion-row>
              <ion-col size="1">Sub Category</ion-col>
              <ion-col size="1">Discussions</ion-col>
              <ion-col size="5">Id's</ion-col>
              <ion-col size="5">Summary</ion-col>
            </ion-row>
            <ion-row class="row" *ngFor = "let subcategory of category.keyval">
              <ion-col size="1">
                <p class="subc">{{subcategory.key}}</p>
              </ion-col>
              <ion-col size="1">
                  <p class="number">{{subcategory.val.length}}</p>
              </ion-col>
              <ion-col size="5">
                  <ion-textarea  class="keywords" readonly value={{subcategory.val}}></ion-textarea>
                </ion-col>
              <ion-col size="5">
                <ion-textarea class="summary" readonly value={{subcategory.summary}}></ion-textarea>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-row>
  </div>
 </ion-grid>
</ion-content>
