.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

#rounded {
  width: 100%;
  height: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 10px;
  margin-bottom: 10px;  
}

.background {
  --background: url('./tp2.png');
}
ion-button.background{
  height: 100px;
}
ion-toolbar.header{
  --background: #3880ff;
}
ion-title.title{
  color: white;
}

.card{
  background:rgba(255,255,255,1);
  margin: auto;
  width: 35%;
  height:400px;
  margin-top: 190px;
}

.title{
  color: #3880ff;
  font-size: 30px;
}

.sub-title{
  font-size: 20px;
}

.content{
  font-size: 15px;
}

.highlight{
 font-size: 20px
}
.content ion-input{
  text-align: center;
}

.centerbutt{
    margin-left: auto;
    margin-right: auto;
    display: block !important;
}